!!!
%html
	%head
		%title Sinatra Twitter
		%link(rel="stylesheet" href="/css/bootstrap.css")
		%link(rel="stylesheet" href="/css/bootstrap-responsive.css")
		%link(rel="stylesheet" href="/css/screen.css")
	%body
		.container
			#header.hero-unit
				%h1 My Sinatra Website
				%h2 A Simple Site made with Sinatra and HAML!
			#content
			=yield